<ng-template #asignacionesDialog>
  <h2 mat-dialog-title>Asignaciones: {{vacanteSeleccionada?.entidad_nombre}}</h2>

  <mat-dialog-content>
    <div class="mb-4">
      <h4>Alumnos asignados ({{alumnosAsignados.length}} / {{vacanteSeleccionada?.num_vacantes}})</h4>
      <mat-list>
        <mat-list-item *ngFor="let a of alumnosAsignados">
          <mat-icon mat-list-icon>person</mat-icon>
          <div mat-line>{{a.nombre}} {{a.apellidos}}</div>
          <button mat-icon-button color="warn" (click)="desvincular(a.id_alumno)">
            <mat-icon>person_remove</mat-icon>
          </button>
        </mat-list-item>
        <p *ngIf="alumnosAsignados.length === 0" class="text-muted">No hay alumnos asignados aún.</p>
      </mat-list>
    </div>

    <mat-divider></mat-divider>

    <div class="mt-4" *ngIf="alumnosAsignados.length < vacanteSeleccionada?.num_vacantes">
      <h4>Asignar nuevo alumno</h4>
      <div class="row align-items-center">
        <mat-form-field class="col-8">
          <mat-label>Alumnos disponibles ({{vacanteSeleccionada?.ciclo_nombre}} {{vacanteSeleccionada?.curso}}º)</mat-label>
          <mat-select [formControl]="alumnoParaAsignar">
            <mat-option *ngFor="let al of alumnosLibres" [value]="al.id_alumno">
              {{al.nombre}} {{al.apellidos}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-4">
          <button mat-raised-button color="accent" [disabled]="!alumnoParaAsignar.value" (click)="asignarAlumno()">
            Asignar
          </button>
        </div>
      </div>
    </div>

    <div class="alert alert-warning mt-2" *ngIf="alumnosAsignados.length >= vacanteSeleccionada?.num_vacantes">
      Cupo máximo alcanzado. No se pueden añadir más alumnos.
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cerrar</button>
  </mat-dialog-actions>
</ng-template>
